* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.path:hover,
.star:hover {
  fill: #df0000;
  stroke: #df0000;
  cursor: pointer;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#info {
  position: absolute;
  border: 1px solid gray;
  padding: 5px;
  display: none;
  font-size: small;
  z-index: 100;
  line-height: 1.5em;
  backdrop-filter: blur(5px);
  background: transparent;
}
/* Слабый путь */
.path-weak {
  stroke: #1c9718;
  stroke-width: 2;
  opacity: 0.5;
}

/* Общий (яркий) путь */
.path-strong {
  stroke: #ffd700;
  stroke-width: 3;
  opacity: 1;
}

/* Активная звезда */
.star-active {
  fill: #ffcc00;
  stroke: #ff9900;
  stroke-width: 2px;
}
